<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morse Code Trainer Game</title>
    <link rel="stylesheet" href="../static/styles.css"></link>
</head>

<body>

    <div class="game-container">
        <h1>Morse Code Trainer</h1>

        <button onclick="startGame()">Start Game</button>
        <h2 id="phraseDisplay">Phrase: (Waiting...)</h2>
        <h3>Lives: <span id="lives">3</span></h3>

        <div class="speed-control">
            <label for="speedInput">Dot Duration: <span id="speedValue">100</span> ms</label>
            <input type="range" id="speedInput" min="25" max="200" value="100" step="5" oninput="updateSpeed()">
        </div>
        
        

        <h3>Press 'N' for Dot (.) | 'M' for Dash (-)</h3>
        <h2 id="userInputDisplay" class="hidden"></h2>
        

        <button onclick="playMorse()">Play Morse Code</button>
        <button onclick="submitInput()">Submit Answer</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
